@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-blueish: #0e8cc5;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slowBounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7px);
  }
}

.bounce-left {
  animation: slowBounce 5s ease-in-out infinite;
}

.bounce-right {
  animation: slowBounce 5s ease-in-out infinite;
  animation-delay: 2.5s;
}